.sprite {
    background-image: url(../img/spritesheet.png);
    background-repeat: no-repeat;
    display: inline-block;
}

.sprite-edu-hat {
    width: 23px;
    height: 14px;
    background-position: -20px -20px;
}

.sprite-facebook {
    width: 63px;
    height: 63px;
    background-position: -83px -20px;
}

.sprite-glab {
    width: 92px;
    height: 48px;
    background-position: -186px -20px;
}

.sprite-instagram {
    width: 63px;
    height: 63px;
    background-position: -318px -20px;
}

.sprite-linkedin {
    width: 63px;
    height: 63px;
    background-position: -421px -20px;
}

.sprite-main {
    width: 77px;
    height: 67px;
    background-position: -524px -20px;
}

.sprite-play {
    width: 160px;
    height: 160px;
    background-position: -641px -20px;
}

.sprite-search {
    width: 19px;
    height: 18px;
    background-position: -841px -20px;
}

.sprite-share {
    width: 18px;
    height: 16px;
    background-position: -900px -20px;
}

.sprite-share-amarelo {
    width: 18px;
    height: 16px;
    background-position: -958px -20px;
}

.sprite-share-gray {
    width: 18px;
    height: 16px;
    background-position: -1016px -20px;
}

.sprite-share-verde {
    width: 18px;
    height: 16px;
    background-position: -1074px -20px;
}

.sprite-twitter {
    width: 63px;
    height: 63px;
    background-position: -1132px -20px;
}

.sprite-youtube {
    width: 63px;
    height: 63px;
    background-position: -1235px -20px;
}
