// BASE
@import "base/_variables";
@import "base/_grid";

/****ALL*****/

.responsive {
  display: block;
  max-width: 100%;
  height: auto;
}

.right {
  float: right;
}

.left {
  float: left;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.text-left {
  text-align: left;
}

.gray {
  color: $gray;
}

.hide-mobile {
  @include max-mobile {
    display: none !important;
  }
}

.hide-tablet {
  @include tablet {
    @include max-tablet {
      display: none !important;
    }
  }
}

.hide-desktop {
  @include desktop {
    display: none !important;
  }
}

.clearfix {
  width: 100%;
  height: auto;
  &:after {
    @extend %clearfix;
  }
}

a {
  text-decoration: none;
}

ul.inline {
  li {
    display: inline-block;
  }
  &.middle {
    li {
      vertical-align: middle;
    }
  }
}

input:focus,
textarea:focus,
select:focus,
a:focus {
  outline: none;
}

*,
*:before,
*:after {
  @include box-sizing(border-box);
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100vh;
}

body {
  background-color: #fff;
  /* background-color: #eb6390; */
  font-family: Roboto, Arial, sans-serif;
}

section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1 {
  font-size: 32px;
  letter-spacing: 1px;
  margin: 20px 0;
  color: white;
}

form {
  margin: 20px 0;
  background-color: white;
  padding: 30px 25px;
  border-radius: 5px;
  box-shadow: inset 0px 0px 2px rgba(0, 0, 0, 0.25);
  .input-block {
    margin-bottom: 20px;
    label {
      font-size: 14px;
      color: darkslateblue;
    }
    input {
      width: 100%;
      display: block;
      margin-top: 8px;
      padding: 7px;
      font-size: 16px;
      color: #f71963;
      border-radius: 2px;
      border: 1px solid #ccddef;
      outline-color: #f71963;
    }
  }
  .btn-login {
    display: block;
    min-width: 120px;
    border: none;
    background-color: #f71963;
    color: white;
    border-radius: 25px;
    margin: auto;
    padding: 7px;
  }
}
/* APARICAO DO FORM */

form {
  animation: fade 0.2s;
  .input-block:nth-child(1) {
    animation: move 500ms;
  }
  .input-block:nth-child(2) {
    animation: move 500ms;
    animation-delay: 100ms;
    animation-fill-mode: backwards;
  }
  .btn-login {
    animation: move 500ms;
    animation-delay: 250ms;
    animation-fill-mode: backwards;
  }
}

@keyframes fade {
  from {
    opacity: 0;
    transform: scale(0.9);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes move {
  from {
    opacity: 0;
    transform: translateX(-35%);
  }
  to {
    opacity: 1;
    transform: translateX(0%);
  }
}

/* Quando clicar no botão, sumir  com o form */
.form-hide {
  animation: down 1.2s forwards;
  animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
}

@keyframes down {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(100vh);
  }
}

/* FORM NONO */

form.validate-error {
  animation: nono 200ms linear, fade paused;
  animation-iteration-count: 2;
}

@keyframes nono {
  0%,
  100% {
    transform: translateX(0%);
  }
  35% {
    transform: translateX(-15%);
  }
  75% {
    transform: translateX(15%);
  }
}

/* squares */

.squares {
  li {
    width: 40px;
    height: 40px;
    background-color: #eb63904d;
    display: block;
    position: absolute;
    bottom: -40px;
    animation: up 2s infinite alternate;
  }
}

@keyframes up {
  from {
    opacity: 0;
    transform: translateY(0);
  }
  50% {
    opacity: 1;
  }
  to {
    opacity: 0;
    transform: translateY(-900px) rotate(960deg);
  }
}

  // SHARED - MENU
  .menu_lateral{
		height: 100%;
		color: black;
    background-color: #FAACA8;
    background-image: linear-gradient(19deg, #FAACA8 0%, #DDD6F3 100%);
    border-top: none;
    border-bottom: none;
    border-left: none;
    box-shadow: 2px 2px 2px 2px #FAACA8;
    position: fixed;
    padding-right: 15px;
    img{
      margin-left: 22px;
    }
    .user{
      img{
        max-width: 100%;
        margin-left: 0;
        margin-right: 10px;
      }
      p{
        padding-top: 15px;
      }
    }
    .navigation{
      div{
        margin-top: 40px;
        margin-left: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 225px;
        height: 73px;
        cursor: pointer;
      }
        .active {
        color: #fff;
        background: linear-gradient(90deg, rgba(247,25,99,0.7570378493194152) 0%, rgba(247,25,99,0.9223039557619923) 50%, rgba(247,25,99,1) 100%);
        border-radius: 149px;
        }
    }
      .logout {
        cursor: pointer;
        position: absolute;
        bottom: 0;
        text-decoration: underline;
      } 
  }
  .home{
    margin-left: 150px;
    h1{
      background: linear-gradient(90deg, rgba(247,25,99,0.7570378493194152) 0%, rgba(247,25,99,0.9223039557619923) 50%, rgba(247,25,99,1) 100%);
      -webkit-background-clip: text;
      background-clip:  border-box;
      -webkit-text-fill-color: transparent;
      font-weight: bold;
      text-transform: uppercase;
      margin: 0;
      padding-top: 20px;
    }
    .title_prod{
      background: linear-gradient(90deg, rgba(247,25,99,0.7570378493194152) 0%, rgba(247,25,99,0.9223039557619923) 50%, rgba(247,25,99,1) 100%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      font-weight: bold;
      text-transform: uppercase;
      margin: 0;
      padding-top: 20px;
    }
    .pesquisa{
      left: 38%;
      top: 15%;
      position: unset;
    }
    .charts{
      text-align: center;
    }
    .compra_feita{
      text-align: center;
      display: flex;
      flex-wrap: wrap;
      margin-left: 50px;
      .compra{
        width: 33%;
        padding-top: 15px;
        .box{
          background-color: rgb(216,216,216);
          width: 95%;
          padding: 20px;
          border-radius: 10px;
        }
        img{
          width: 150px;
          height: 150px;
        }
        p{
          font-size: 16px;
          a{
            font-weight: bold;
            color: #f71963;
          }
        }
        span{
          font-size: 12px;
        }
      }
    } 
    .add_prod{
      background: linear-gradient(90deg, rgba(247,25,99,0.7570378493194152) 0%, rgba(247,25,99,0.9223039557619923) 50%, rgba(247,25,99,1) 100%);
      border-radius: 149px;
      text-align: center;
      a{
        color: #fff;
      }
      padding-top: 15px;
      padding-bottom: 15px;
    }
    .produtos_cadastrados{
      margin-top: 100px;
      @include max-mobile{
        margin-top: 0;
      }
    }
    .produtos_cadastrados_2{
      margin-top: 10px;
    }
    .produtos_cadastrados_3{
      margin-top: 20px;
      .ver_mais{
        color: #fff;
        background: linear-gradient(90deg, rgba(247,25,99,0.7570378493194152) 0%, rgba(247,25,99,0.9223039557619923) 50%, rgba(247,25,99,1) 100%);
        border-radius: 149px;
        margin-bottom: 20px;
        padding-top: 25px;
        padding-bottom: 25px;
        padding-left: 50px;
        padding-right: 50px;
        margin-left: 40%;
        cursor: pointer;
      }
    }
  }

//MARKETPLACE

.pesquisa {
  border: 2px solid #f2f2f2;
  border-radius: 4px;
  width: 500px;
  height: 35px;
  position: absolute;
  left: 30%;
  top: 6%;
  display: flex;
  background-color: #efefefb0;
  input {
    border: none;
    height: 29px;
    outline: 0;
    width: 450px;
    margin-left: 10px;
    font-size: 18px;
    background-color: #efefefb0;
  }
  span {
    img {
      margin-left: 10px;
      margin-top: 6px;
      background-color: #efefefb0;
      box-shadow: 0px 1px 20 5px rgba(1, 0, 0, 0.25);
    }
  }
  .label-search{
    margin-left: 20px;
  }
}
.topBar {
  align-items: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 20px;
  padding: 25px 0px 0px 0px;
}
.navBar {
  border: 2px solid #f2f2f2;
  width: 1200px;
  height: 300px;
  background-color: #efefefb0;
  border-radius: 4px;
  display: inline-flex;
  padding: 0px 0px 0px 0px;
  span {
    display: flex;
    position: absolute;
    margin-top: 12px;
    img {
      margin-left: 20px;
    }
    label {
      margin-left: 8px;
    }
  }
}
.block {
  width: 170px;
  height: 220px;
  background-color: #fff;
  margin-left: 25px;
  margin-top: 55px;
  border-radius: 2px;
  box-shadow: 0px 1px 20 5px rgba(1, 0, 0, 0.25);
  img {
    margin-left: 15px;
    margin-right: 85px;
    margin-top: 10px;
    margin-bottom: 20px;
  }
  div {
    background-color: #dbdbdb8e;
    height: 45px;
    span {
      margin-left: 6px;
      label {
        color: #000000ad;
        font-weight: 500;
        font-size: 17px;
      }
      button {
        margin-left: 9px;
        background-color: #3f5370c7;
        color: #fff;
        border: none;
        border-radius: 5px;
        padding: 6px;
        cursor: pointer;
      }
    }
  }
}

.top-bar-cart {
  position: absolute;
  left: 1250px;
  top: 50px;
  cursor: pointer;
  div {
    position: absolute;
    top: -6px;
    right: -10px;
    padding: 0 3px;
    min-width: 8px;
    height: 14px;
    line-height: 14px;
    background-color: #ec0e0e;
    border-radius: 30px;
    text-align: center;
    color: #fff;
    font-size: 12px;
  }
}

.top-bar-avatar {
  position: absolute;
  left: 1200px;
  top: 50px;
  cursor: pointer;
  div {
    position: absolute;
    top: -6px;
    right: -10px;
    padding: 0 3px;
    min-width: 8px;
    height: 14px;
    line-height: 14px;
    background-color: #ec0e0e;
    border-radius: 30px;
    text-align: center;
    color: #fff;
    font-size: 12px;
  }
}
.cadastro_prod{
  background-image: url('../bg-01.jpg')!important;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
}
.form_prod{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 65px;
    border-radius: 10px;
      .voltar{
        margin-top: -50px;
        margin-left: -50px;
      }
      input, textarea{
        border-bottom: 2px solid #ccc!important;
        padding: 5px!important;
        padding-left: 10px!important;
        padding-bottom: 2px!important;
        border-radius: 10px!important;
      }
      textarea{
        height: 8rem;
        border: 2px solid #ccc!important;
      }
      input:focus {
        outline: none!important;
        box-shadow: none!important;
      }
      .label_img{
        border: 1px solid #ccc;
        display: inline-block;
        padding: 6px 12px;
        padding-bottom: 12px;
        cursor: pointer;
      }
      .label_img:before{
        content: url('../camera.png');
        position: relative;
        bottom: -6px;
        padding-right: 10px;    
      }
      .input_img{
        border: none!important;
        display: none;
      }
      .btn_form{
        background: linear-gradient(90deg, rgba(247,25,99,0.7570378493194152) 0%, rgba(247,25,99,0.9223039557619923) 50%, rgba(247,25,99,1) 100%);
        border-radius: 149px;
        text-align: center;
        a{
          color: #fff;
        }
        padding-top: 15px;
        padding-bottom: 15px;
        cursor: pointer;
      }
      .btn_login{
        background: linear-gradient(90deg, rgba(247,25,99,0.7570378493194152) 0%, rgba(247,25,99,0.9223039557619923) 50%, rgba(247,25,99,1) 100%);
        border-radius: 149px;
        text-align: center;
        a{
          color: #fff;
        }
        padding-top: 15px;
        padding-bottom: 15px;
        padding-left: 25px;
        padding-right: 25px;
        cursor: pointer;
      }
}

.footer-background {
  background-color: #f71a63;
}
